@model SportSelect.Models.Login
<br />
<br />
<h1>Login</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <p>@ViewData["ErrorMessage"]</p>
}
<br />
<br />
<br />
<div class="text-center" >

    <form asp-action="Login" method="post" >
        <div style="background-color: black; color: white;>
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" value="@Model.Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <br />
        <br />
        <div style="background-color: black; color: white;>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>

</div>
