@{
    ViewData["Title"] = "Home Page";
}
@* <!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('/new.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh; /* Set the height of the background to fill the viewport */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        .text-center {
            /* Add your text center styles here */
            position: relative; /* Make sure it stays in the center */
            top: 50%; /* Move it down by half of its height */
            transform: translateY(-50%); /* Adjust it vertically to the center */
        }
    </style>
</head>
<body>

    <div class="text-center">
        <!-- Your content here -->
    </div>

</body>
</html>
 *@